/*
 * Globals
 */

/* Links */


/*
 * Base
 */
html, body{
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  color: #333;
  font-family: 'Lato', sans-serif;
}

/*
 * Header
 */
header{
  height:5%;
  top:0;
  width:100%;
  border-bottom:0.0625em solid #e2e2e2;
  padding:0 1.0em;
  z-index:10;
  position:fixed;
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
  -webkit-transform:translate(0,0);
  -moz-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0);
  transform:translate(0,0);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
h2{
  margin:0em;
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.625em;
  padding-top:0.625em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color:#333;
  background-color:#fff;
}
.navbar{
  height:100%;
  width:100%;
  margin:0em;
  border:0em;
}
.masthead{
  font-size:1.8em;
  margin-top: 1.400rem;
  margin-left:1.0em;
  float: left;
  font-family:'Lato', sans-serif;
  font-weight: bold;
  color:#fff;
  vertical-align: center;
}
.masthead-list{
  float:right;
  margin-top: 1.400rem;
  color: #111;
  padding:0;
}

.masthead-list > li{
  display: inline-block;
  margin-right: 1.25em;
}
.masthead-list >li > a{
  font-family:'Lato', sans-serif;
  margin-top: 1.200em;
  font-size:1.5em;
  font-weight: bold;
  border-bottom: 0.125em solid transparent;
  color: #111;
}
.masthead-list > li > a:hover,
.masthead-list > li > a:focus {
  background-color: transparent;
  border-bottom-color: #000;
  text-decoration: none;
}
.masthead-list > .default > a,
.masthead-list > .default > a:hover,
.masthead-list > .default > a:focus {
  color:#000;
  border-bottom-color: #000;
}
#main-image-div{
  height:75%;
}
.container-fluid{
  width:100%;
  height:100%;
}
.main-image {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url(../resources/hi-sands.jpg);
/*  background:rgb(96, 96, 96);*/
/*  background-image:url(../resources/oc-ferris-wheel.jpg);*/
  position:relative;
  display: block;
  width:100%;
  height:100%;
  background-size: cover;
  z-index: 1;
  background-repeat:no-repeat;
  opacity:0.95;

}
.main-image-text{
  height:100%;
  display:inline-block;
  vertical-align: middle;
  padding-top:20%;
  color:#fff;
  font-size:2.0em;

}
#about-me-title h2{
  border-top:0px;
/*    margin:0em;
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.625em;
  padding-top:0.625em;
  border-bottom: 1px solid lightgray;
  color:#fff;
 background-color:#333;*/
}
#about-me-div{
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
  padding-bottom:5%;
}

.about-me-title h2{
/*  margin:0em;
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.8em;
  padding-top:0.9em;
/*  background-color: #fff;*/*/
}
.about-me{
  height:30%;
  text-align: left;
/*  font-size:1.23em;*/
  font-size:1.35em;
  padding-top:1em;
  color:#333;

}
#experience-row{
  padding-left:10%;
  padding-right:10%;
    padding-top:5%;
  padding-bottom:5%;
}
.experience{
  padding-bottom: 0.8em;
  padding-top:0.9em;
  height:30%;
  text-align: center;
 font-size:1.23em;
}
#experience-title h2{
/*  margin:0em;
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.8em;
  padding-top:0.9em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
    color:#fff;
  background-color:#333;*/
}
#personal-projects-title h2{
/*  margin:0em;
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.8em;
  padding-top:0.9em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
    color:#fff;
  background-color:#333;*/
}
#personal-projects-row{
  padding:5%;
  
}
.personal-projects{
  padding-top:1.25em;
  text-align:left;
  font-size:1.23em;
  margin-top:100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:15%;
    max-width: 350px;
    max-height:350px;
    color:#fff;
    background-color: #333
}
.thumbnail a{
      font-size:1.23em;

}
.col-md-6{

}
#battelle-experience{
    width:50%;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url(../resources/hi-sands.jpg);
}

@media only screen and (max-width:768px){
  /* styles for mobile browsers smaller than 768; (iPad) */
  body{
      font-size:small;

    }
}
/*@media only screen and (max-width:480px){
   styles for mobile browsers smaller than 768; (iPad) 
body{
    font-size:x-small;
  }
}*/

