/*
 * Globals
 */

/* Links */


/*
 * Base
 */
html, body{
	height: 100%;
	background-color: #fff;
	text-align: center;
	color: #000;
  font-family: 'Lato', sans-serif;
}

/*
 * Header
 */
header{
  height:3.125em;
  top:0;
  width:100%;
  background:#fff;
  border-bottom:0.0625em solid #e2e2e2;
  padding:0 1.0em;
  z-index:10;
  position:fixed;
  opacity: 0.7;
  font-family: 'Lato', sans-serif;
  -webkit-transform:translate(0,0);
  -moz-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0);
  transform:translate(0,0);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.masthead{
  margin-top: 0.625em;
  float: left;
  position:fixed;
  font-family:'Lato', sans-serif;
  font-size:1.325em;
  font-weight: bold;
  color:#000;
}
.masthead-list{
  float:right;
  margin:0.625em;
	vertical-align: top;
  color: #000;
  padding:0;
}

.masthead-list > li{
	display: inline-block;
	margin-right: 1.25em;
  color: #000;
}
.masthead-list >li > a{
	font-family:'Lato', sans-serif;
  font-size:1.325em;

}
.masthead-list > li > a {
  font-size: 1.125em;
  font-weight: bold;
  border-bottom: 0.125em solid transparent;
  color: gray;
}
.masthead-list > li > a:hover,
.masthead-list > li > a:focus {
  background-color: transparent;
  border-bottom-color: #000;
  text-decoration: none;
}
.masthead-list > .default > a,
.masthead-list > .default > a:hover,
.masthead-list > .default > a:focus {
  color:#000;
  border-bottom-color: #000;
}
#main-image-div{
  height:80%;
}
.container-fluid{
  width:100%;
  height:100%;
}
.main-image {
  background-image:url(../resources/desk.jpg);
  position:relative;
  display: block;
  width:100%;
  height:100%;
  background-size: cover;
  z-index: 1;
  background-repeat:no-repeat;

}
.main-image-text{
  width:100%;
  height:100%;
  -webkit-transform: translateY(10%);
  text-align: center;
}
.about-me{
  padding-left: 15%;
  padding-right:15%;
  padding-top:1.25em;
  height:30%;
  text-align: left;
  font-size:1.0625em;
}
.about-me h1{
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.625em
}

.experience{
  padding-left: 15%;
  padding-right:15%;
  padding-top:1.25em;
  height:30%;
  text-align: left;
  font-size:1.0625em;
}
.experience h1{
  font-size:1.925em;
  text-align:center;
  padding-bottom: 0.625em
}
@media only screen and (max-width:768px){
  /* styles for mobile browsers smaller than 768; (iPad) */
body{
    font-size:small;
  }
}
/*@media only screen and (max-width:480px){
   styles for mobile browsers smaller than 768; (iPad) 
body{
    font-size:x-small;
  }
}*/

